[Desktop Entry]
Name=AuthenDesk
Name[zh_CN]=令牌桌面
Comment=Desktop 2FA Authenticator
Comment[zh_CN]=桌面双因素认证令牌管理器
Exec=AuthenDesk
Icon=authendesk
Terminal=false
Type=Application
Categories=Utility;Security;Qt;
Keywords=2FA;TOTP;OTP;Authenticator;
